<ion-view title="Ligas" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="ligas-form2" class="list ">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
        </form>
        <ion-list id="ligas-list1" class=" ">
            <ion-item class="item-thumbnail-left  " id="ligas-list-item4" ng-repeat="t in times">
                <h2>{{t.nome}}</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>