<ion-view title="Ligas" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="ligas-form2" class="list ">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
        </form>
		<div class="list" ng-repeat="time in times">
			<a class="item item-avatar" href="#">
			  <img src="{{time.foto_perfil}}">
			  <h2>{{time.nome}}</h2>
			  <p>{{time.nome_cartola}}</p>
			  <span class="item-note pontuacao-jogador">{{time.pontos.rodada | number:2}}</span>			
			</a>
		</div>		
    </ion-content>
</ion-view>